# Python for Data 17: Dealing With Dates
[back to index](https://www.kaggle.com/hamelg/python-for-data-analysis-index)

In the last two lessons, we learned a variety of methods to text character and numeric data, but many data sets also contain dates that don't fit nicely into either category. Common date formats contain numbers and sometimes text as well to specify months and days. Getting dates into a friendly format and extracting features of dates like month and year into new variables can be useful preprocessing steps.

For this lesson I've created and uploaded some dummy date data in a few different formats. Let's read in the date data:

In [11]:
import numpy as np
import pandas as pd

In [12]:
dates = pd.read_csv("F:\Data Science\Pandas Dataset\dates_lesson_16.csv")

dates # Check the dates

  month_day_year day_month_year                 date_time year_month_day
0       04/22/96      22-Apr-96  Tue Aug 11 09:50:35 1996     2007-06-22
1       04/23/96      23-Apr-96  Tue May 12 19:50:35 2016     2017-01-09
2       05/14/96      14-May-96  Mon Oct 14 09:50:35 2017     1998-04-12
3       05/15/96      15-May-96  Tue Jan 11 09:50:35 2018     2027-07-22
4       05/16/01      16-May-01  Fri Mar 11 07:30:36 2019     1945-11-15
5       05/17/02      17-May-02  Tue Aug 11 09:50:35 2020     1942-06-22
6       05/18/03      18-May-03  Wed Dec 21 09:50:35 2021     1887-06-13
7       05/19/04      19-May-04  Tue Jan 11 09:50:35 2022     1912-01-25
8       05/20/05      20-May-05  Sun Jul 10 19:40:25 2023     2007-06-22

*Note the date data is listed as "lesson 16" instead of 17 because I used the same data set for lesson 16 of my intro to R guide.*

When you load data with Pandas, dates are typically loaded as strings by default. Let's check the type of data in each column:

In [13]:
for col in dates:
    print (type(dates[col][1]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

The output confirms that all the date data is currently in string form. To work with dates, we need to convert them from strings into a data format built for processing dates. The pandas library comes with a Timestamp data object for storing and working with dates. You can instruct pandas to automatically convert a date column in your data into Timestamps when you read your data by adding the "parse_dates" argument to the data reading function with a list of column indices indicated the columns you wish to convert to Timestamps. Let's re-read the data with parse_dates turned on for each column:

In [14]:
dates = pd.read_csv("F:\Data Science\Pandas Dataset\dates_lesson_16.csv", 
                    parse_dates=[0,1,2,3]) # Convert cols to Timestamp

C:\Users\isfar\AppData\Local\Temp\ipykernel_12540\3141375283.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.read_csv("F:\Data Science\Pandas Dataset\dates_lesson_16.csv",
C:\Users\isfar\AppData\Local\Temp\ipykernel_12540\3141375283.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.read_csv("F:\Data Science\Pandas Dataset\dates_lesson_16.csv",

Now let's check the data types again:

In [15]:
for col in dates:
    print (type(dates[col][1]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

The output shows that all 4 columns were successfully parsed and translated into Timestamps. The default date parser works on many common date formats. You can also convert date strings to Timestamps using the function pd.to_datetime().

If you have oddly formatted date time objects, you might have to specify the exact format to get it to convert correctly into a Timestamp. For instance, consider a date format that gives date times of the form hour:minute:second year-day-month:

In [16]:
odd_date = "12:30:15 2015-29-11"

The default to_datetime parser will fail to convert this date because it expects dates in the form year-month-day. In cases like this, specify the date's format to convert it to Timestamp:

In [17]:
pd.to_datetime(odd_date,format= "%H:%M:%S %Y-%d-%m")

Timestamp('2015-11-29 12:30:15')

As seen above, date formatting uses special formatting codes for each part of the date. For instance, %H represents hours and %Y represents the four digit year. View a list of formatting codes here.

Once you have your dates in the Timestamp format, you can extract a variety of properties like the year, month and day. Converting dates into several simpler features can make the data easier to analyze and use in predictive models. Access date properties from a Series of Timestamps with the syntax: Series.dt.property. To illustrate, let's extract some features from the first column of our date data and put them in a new DataFrame:

In [18]:
column_1 = dates.iloc[:,0]

pd.DataFrame({"year": column_1.dt.year,
              "month": column_1.dt.month,
              "day": column_1.dt.day,
              "hour": column_1.dt.hour,
              "dayofyear": column_1.dt.dayofyear,
              "dayofweek": column_1.dt.dayofweek,
              "weekday": column_1.dt.weekday,
              "quarter": column_1.dt.quarter,
             })

   year  month  day  hour  dayofyear  dayofweek  weekday  quarter
0  1996      4   22     0        113          0        0        2
1  1996      4   23     0        114          1        1        2
2  1996      5   14     0        135          1        1        2
3  1996      5   15     0        136          2        2        2
4  2001      5   16     0        136          2        2        2
5  2002      5   17     0        137          4        4        2
6  2003      5   18     0        138          6        6        2
7  2004      5   19     0        140          2        2        2
8  2005      5   20     0        140          4        4        2

In addition to extracting date features, you can use the subtraction operator on Timestamp objects to determine the amount of time between two different dates:

In [19]:
print(dates.iloc[1,0])
print(dates.iloc[3,0])
print(dates.iloc[3,0]-dates.iloc[1,0])

1996-04-23 00:00:00
1996-05-15 00:00:00
22 days 00:00:00

Pandas includes a variety of more advanced date and time functionality beyond the basics covered in this lesson, particularly for dealing time series data (data consisting of many periodic measurements over time.). Read more about date and time functionality [here](http://pandas.pydata.org/pandas-docs/version/0.17.0/timeseries.html).

# Another Example:

In [20]:
df_police = pd.read_csv('F:\Data Science\Pandas Dataset\police_project.csv')

### Fetching a portion of Data using condition

In [21]:
police = df_police[(df_police['stop_date'] >= '2005-10-01') & (df_police['stop_date'] <= '2005-10-07')]
police.tail()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
215,2005-10-07,19:35,NaN,F,1978.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
216,2005-10-07,20:30,NaN,F,1969.0,36.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
217,2005-10-07,21:55,NaN,M,1977.0,28.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
218,2005-10-07,22:55,NaN,M,1982.0,23.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
219,2005-10-07,23:30,NaN,M,1986.0,19.0,White,Suspicious Person,Other,True,Probable Cause,Arrest Passenger,True,16-30 Min,True

### Create another column by adding the remaining two column

In [22]:
police['Stop_date'] = police['stop_date']+ ' ' + police['stop_time']

C:\Users\isfar\AppData\Local\Temp\ipykernel_12540\4174955447.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police['Stop_date'] = police['stop_date']+ ' ' + police['stop_time']

In [23]:
police['Stop_date'].head()

40    2005-10-01 00:00
41    2005-10-01 00:00
42    2005-10-01 00:50
43    2005-10-01 01:00
44    2005-10-01 01:45
Name: Stop_date, dtype: object

In [24]:
police['Stop_date'].dtype

dtype('O')

### Format them as datetime from object type

In [25]:
police['date_time'] = pd.to_datetime(police['Stop_date'] , format = '%Y-%m-%d %H:%M')

C:\Users\isfar\AppData\Local\Temp\ipykernel_12540\1008187943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police['date_time'] = pd.to_datetime(police['Stop_date'] , format = '%Y-%m-%d %H:%M')

In [26]:
police['date_time'].head()

40   2005-10-01 00:00:00
41   2005-10-01 00:00:00
42   2005-10-01 00:50:00
43   2005-10-01 01:00:00
44   2005-10-01 01:45:00
Name: date_time, dtype: datetime64[ns]

In [27]:
police['Hour'] = police['date_time'].dt.hour
police['day'] = police['date_time'].dt.day

C:\Users\isfar\AppData\Local\Temp\ipykernel_12540\2431999200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police['Hour'] = police['date_time'].dt.hour
C:\Users\isfar\AppData\Local\Temp\ipykernel_12540\2431999200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  police['day'] = police['date_time'].dt.day

In [28]:
police.head(4)

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,Stop_date,date_time,Hour,day
40,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True,2005-10-01 00:00,2005-10-01 00:00:00,0,1
41,2005-10-01,00:00,NaN,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Citation,False,30+ Min,True,2005-10-01 00:00,2005-10-01 00:00:00,0,1
42,2005-10-01,00:50,NaN,M,1977.0,28.0,Hispanic,Other Traffic Violation,Moving violation,False,NaN,Arrest Driver,True,30+ Min,False,2005-10-01 00:50,2005-10-01 00:50:00,0,1
43,2005-10-01,01:00,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,2005-10-01 01:00,2005-10-01 01:00:00,1,1

## Wrap Up

Pandas makes it easy to convert date data into the Timestamp data format and extract basic date features like day of the year, month and day of week. Simple date features can be powerful predictors because data often exhibit cyclical patterns over different time scales.

Cleaning and preprocessing numeric, character and date data is sometimes all you need to do before you start a project. In some cases, however, your data may be split across several tables such as different worksheets in an excel file or different tables in a database. In these cases, you might have combine two tables together before proceeding with your project. In the next lesson, we'll explore how to merge data sets.

## Next Lesson: [Python for Data 18: Merging Data](https://www.kaggle.com/hamelg/python-for-data-18-merging-data)
[back to index](https://www.kaggle.com/hamelg/python-for-data-analysis-index)