In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../Dataset/Salary_dataset.csv")
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [5]:
df=df[["YearsExperience","Salary"]]

In [6]:
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [11]:
X=df[["YearsExperience"]]
Y=df["Salary"]

In [12]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()

In [13]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=.25)

In [16]:
import mlflow
from mlflow.models import infer_signature

import mlflow.sklearn
from sklearn.metrics import r2_score,root_mean_squared_error

mlflow.set_tracking_uri("http://127.0.0.1:5000")

with mlflow.start_run():
    model.fit(x_train,y_train)
    prediction=model.predict(x_test)


    rmse=root_mean_squared_error(prediction,y_test)
    r2=r2_score(prediction,y_test)

    mlflow.log_param("model_type","LinearRegression")

    mlflow.log_metric("rmse",rmse)
    mlflow.log_metric("r2_score",r2)

    mlflow.sklearn.log_model(model,"model")

2025/06/05 09:21:56 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

üèÉ View run dapper-hare-203 at: http://127.0.0.1:5000/#/experiments/0/runs/ad0d0102fe1843ddb5571c23c31fad6c
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/0

In [20]:
import mlflow.sklearn
from sklearn.ensemble import RandomForestRegressor

rf=RandomForestRegressor()

with mlflow.start_run():
    
    rf.fit(x_train,y_train)

    prediction=rf.predict(x_test)

    mlflow.log_metric("r2",r2_score(prediction,x_test))
    mlflow.log_metric("rmse",root_mean_squared_error(prediction,x_test))

    mlflow.sklearn.log_model(rf,"rf")

2025/06/05 09:31:22 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

üèÉ View run charming-wasp-873 at: http://127.0.0.1:5000/#/experiments/0/runs/2fd4c412d7384213bd25b6daa3e51e5e
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/0